################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1670F1/.vs/1670F1/FileContentIndex
